In [1]:
import pandas as pd
import numpy as np

## Data Cleaning Massachusetts

In [2]:
#### analyzing 1 file of Colorado Data

path = "C:/Users/ameen/Desktop/Covid_learning_gap_ML_project_17_oct/datasets/massachusetts"

df2017_path = path + "/2017_massachusetts.xlsx"
df2018_path = path + "/2018_massachusetts.xlsx"
df2019_path = path + "/2019_massachusetts.xlsx"
df2021_path = path + "/2021_massachusetts.xlsx"

df2017 = pd.read_excel(df2017_path,header=[0],skiprows=1)
df2018 = pd.read_excel(df2018_path,header=[0],skiprows=1)
df2019 = pd.read_excel(df2019_path,header=[0],skiprows=1)
df2021 = pd.read_excel(df2021_path,header=[0],skiprows=1)

df2017["year"] = '2017'
df2018["year"] = '2018'
df2019["year"] = '2019'
df2021["year"] = '2021'

In [3]:
print(df2021.shape)
print(df2019.shape)
print(df2018.shape)
print(df2017.shape)

## 2021 has one extra column

(1062, 19)
(1068, 18)
(722, 18)
(716, 18)

In [4]:
relevant_col = ['year','District Name','District Code','Subject', 'Avg. Scaled Score']

df2017 = df2017[relevant_col]
df2018 = df2018[relevant_col]
df2019 = df2019[relevant_col]
df2021 = df2021[relevant_col]

df_mass = pd.concat([df2017,df2018,df2019,df2021])
df_mass.head()

,year,District Name,District Code,Subject,Avg. Scaled Score
0,2017,Abby Kelley Foster Charter Public (District),4450000,ELA,496.2
1,2017,Abby Kelley Foster Charter Public (District),4450000,MATH,494.0
2,2017,Abington,10000,ELA,500.4
3,2017,Abington,10000,MATH,499.1
4,2017,Academy Of the Pacific Rim Charter Public (Dis...,4120000,ELA,493.6

In [5]:
df = df_mass

for col in df:
    print("couunt of NA values in", col)
    print(df[col].isnull().sum())
    
    
print(df["Avg. Scaled Score"].value_counts())

##no absurd values in avg. scaled score
##no nas

couunt of NA values in year
0
couunt of NA values in District Name
0
couunt of NA values in District Code
0
couunt of NA values in Subject
0
couunt of NA values in Avg. Scaled Score
0
500.5    27
501.0    24
502.2    24
498.8    23
506.4    23
         ..
520.1     1
476.0     1
479.2     1
484.5     1
469.3     1
Name: Avg. Scaled Score, Length: 431, dtype: int64

In [6]:
df_mass.isnull().values.any()

False

In [7]:
### final table for Colarado data:
#### it contains for each year, for each district, for each grade, for each subject and ethnic group the mean scale scores

df_mass_fin_1 = df_mass 
df_mass_fin_1.to_csv('C:/Users/ameen/Desktop/Covid_learning_gap_ML_project_17_oct/datasets_processed/massachusetts.csv')
df_mass_fin_1.head()

,year,District Name,District Code,Subject,Avg. Scaled Score
0,2017,Abby Kelley Foster Charter Public (District),4450000,ELA,496.2
1,2017,Abby Kelley Foster Charter Public (District),4450000,MATH,494.0
2,2017,Abington,10000,ELA,500.4
3,2017,Abington,10000,MATH,499.1
4,2017,Academy Of the Pacific Rim Charter Public (Dis...,4120000,ELA,493.6