In [1]:
import pandas as pd
import numpy as np

## Data Cleaning for Connecticut

In [2]:
#### loading data for conniticut Data

path = "C:/Users/ameen/Desktop/Covid_learning_gap_ML_project_17_oct/datasets/connecticut"

df2017_path = path + "/2017_connecticut.csv"
df2018_path = path + "/2018_connecticut.csv"
df2019_path = path + "/2019_connecticut.csv"
df2021_path = path + "/2021_connecticut.csv"

df2017 = pd.read_csv(df2017_path)
df2018 = pd.read_csv(df2018_path)
df2019 = pd.read_csv(df2019_path)
df2021 = pd.read_csv(df2021_path)

df2017["year"] = '2017'
df2018["year"] = '2018'
df2019["year"] = '2019'
df2021["year"] = '2021'

###2017 has different naming conventions
#df2017 = df2017[['year','Level','District Code','District \nName','School \nName','Content','Test', 'Mean \nScale \nScore']]

In [3]:
print(df2017.shape)
print(df2018.shape)
print(df2019.shape)
print(df2021.shape)

## all files has same columns. Thats good sign

(5713, 22)
(5817, 22)
(5762, 22)
(5898, 22)

In [4]:
relevant_col = ['year','District','District Code','School', 'School Code','Grade', 'Subject','Average VSS']

df2017 = df2017[relevant_col]
df2018 = df2018[relevant_col]
df2019 = df2019[relevant_col]
df2021 = df2021[relevant_col]

df_conn = pd.concat([df2017,df2018,df2019,df2021])

#df_col.columns = np.array(['year','Level','District_Code','District_Name', 'School_Name','Content', 'Grade','Mean_Scale_Score'])
#df_col.head()

print(df_conn.columns)
print(df_conn.shape)

Index(['year', 'District', 'District Code', 'School', 'School Code', 'Grade',
       'Subject', 'Average VSS'],
      dtype='object')
(23190, 8)

In [5]:
df = df_conn

for col in df:
    print("couunt of NA values in", col)
    print(df[col].isnull().sum())
    
print(df["Average VSS"].value_counts().sort_values(ascending = False))

couunt of NA values in year
0
couunt of NA values in District
0
couunt of NA values in District Code
0
couunt of NA values in School
0
couunt of NA values in School Code
0
couunt of NA values in Grade
0
couunt of NA values in Subject
0
couunt of NA values in Average VSS
0
*       3145
2485     131
2481     127
2514     126
2503     124
        ...
2684       1
2285       1
2275       1
2666       1
2269       1
Name: Average VSS, Length: 388, dtype: int64

In [6]:
### remove NAs:
df_conn_fin = df_conn.dropna()
print(df_conn_fin.shape)

for col in df_conn_fin:
    print(df_conn_fin[col].unique())
    
df_conn_fin.info()

(23190, 8)
['2017' '2018' '2019' '2021']
['Achievement First Bridgeport Academy District'
 'Achievement First Hartford Academy District' 'Amistad Academy District'
 'Andover School District' 'Ansonia School District'
 'Area Cooperative Educational Services' 'Ashford School District'
 'Avon School District' 'Barkhamsted School District'
 'Berlin School District' 'Bethany School District'
 'Bethel School District' 'Bloomfield School District'
 'Bolton School District' 'Booker T. Washington Academy District'
 'Bozrah School District' 'Branford School District'
 'Brass City Charter School District' 'Bridgeport School District'
 'Bristol School District' 'Brookfield School District'
 'Brooklyn School District' 'Canaan School District'
 'Canterbury School District' 'Canton School District'
 'Capital Preparatory Harbor School District'
 'Capitol Region Education Council' 'Chaplin School District'
 'Cheshire School District' 'Chester School District'
 'Clinton School District' 'Colchester School District'
 'Colebrook School District' 'Columbia School District'
 'Cooperative Educational Services' 'Cornwall School District'
 'Coventry School District' 'Cromwell School District'
 'Danbury School District' 'Darien School District'
 'Deep River School District' 'Derby School District'
 'East Granby School District' 'East Haddam School District'
 'East Hampton School District' 'East Hartford School District'
 'East Haven School District' 'East Lyme School District'
 'East Windsor School District'
 'Eastern Connecticut Regional Educational Service Center (EASTCONN)'
 'Eastford School District' 'Easton School District' 'EdAdvance'
 'Ellington School District'
 'Elm City College Preparatory School District' 'Enfield School District'
 'Essex School District' 'Fairfield School District'
 'Farmington School District' 'Franklin School District'
 'Glastonbury School District' 'Granby School District'
 'Great Oaks Charter School District' 'Greenwich School District'
 'Griswold School District' 'Groton School District'
 'Guilford School District' 'Hamden School District'
 'Hampton School District' 'Hartford School District'
 'Hartland School District' 'Hebron School District'
 'Highville Charter School District'
 'Integrated Day Charter School District'
 'Interdistrict School for Arts and Comm District'
 'Jumoke Academy District' 'Kent School District'
 'Killingly School District' 'Learn' 'Lebanon School District'
 'Ledyard School District' 'Lisbon School District'
 'Litchfield School District' 'Madison School District'
 'Manchester School District' 'Mansfield School District'
 'Marlborough School District' 'Meriden School District'
 'Middletown School District' 'Milford School District'
 'Monroe School District' 'Montville School District'
 'Naugatuck School District' 'New Beginnings Inc Family Academy District'
 'New Britain School District' 'New Canaan School District'
 'New Fairfield School District' 'New Hartford School District'
 'New Haven School District' 'New London School District'
 'New Milford School District' 'Newington School District'
 'Newtown School District' 'Norfolk School District'
 'North Branford School District' 'North Canaan School District'
 'North Haven School District' 'North Stonington School District'
 'Norwalk School District' 'Norwich School District'
 'Odyssey Community School District' 'Old Saybrook School District'
 'Orange School District' 'Oxford School District'
 'Park City Prep Charter School District' 'Plainfield School District'
 'Plainville School District' 'Plymouth School District'
 'Pomfret School District' 'Portland School District'
 'Preston School District' 'Putnam School District'
 'Redding School District' 'Regional School District 01'
 'Regional School District 04' 'Regional School District 05'
 'Regional School District 06' 'Regional School District 07'
 'Regional School District 08' 'Regional School District 10'
 'Regional School District 11' 'Regional School District 12'
 'Regional School District 13' 'Regional School District 14'
 'Regional School District 15' 'Regional School District 16'
 'Regional School District 17' 'Regional School District 18'
 'Ridgefield School District' 'Rocky Hill School District'
 'Salem School District' 'Salisbury School District'
 'Scotland School District' 'Seymour School District'
 'Sharon School District' 'Shelton School District'
 'Sherman School District' 'Side By Side Charter School District'
 'Simsbury School District' 'Somers School District'
 'South Windsor School District' 'Southington School District'
 'Sprague School District' 'Stafford School District'
 'Stamford School District' 'Sterling School District'
 'Stonington School District' 'Stratford School District'
 'Suffield School District' 'The Bridge Academy District'
 'The Gilbert School District' 'Thomaston School District'
 'Thompson School District' 'Tolland School District'
 'Torrington School District' 'Trailblazers Academy District'
 'Trumbull School District' 'Unified School District #2'
 'Union School District' 'Vernon School District'
 'Voluntown School District' 'Wallingford School District'
 'Waterbury School District' 'Waterford School District'
 'Watertown School District' 'West Hartford School District'
 'West Haven School District' 'Westbrook School District'
 'Weston School District' 'Westport School District'
 'Wethersfield School District' 'Willington School District'
 'Wilton School District' 'Winchester School District'
 'Windham School District' 'Windsor Locks School District'
 'Windsor School District' 'Wolcott School District'
 'Woodbridge School District' 'Woodstock School District'
 'Elm City Montessori School District'
 'Stamford Charter School for Excellence District'
 'Goodwin University Educational Services (GUES)']
[2850013 2880013 2790013   10011   20011 2440014   30011   40011   50011
   70011   80011   90011  110011  120011 2950013  130011  140011 2900013
  150011  170011  180011  190011  210011  220011  230011 2970013 2410014
  240011  250011  260011  270011  280011  290011  300011 2430014  310011
  320011  330011  340011  350011  360011  370011  400011  410011  420011
  430011  440011  450011  470011 2530014  390011  460011 2420014  480011
 2890013  490011  500011  510011  520011  530011  540011  560011 2940013
  570011  580011  590011  600011  620011  630011  640011  650011  670011
 2860013 2640013 2650013 2610013  680011  690011 2450014  710011  720011
  730011  740011  760011  770011  780011  790011  800011  830011  840011
  850011  860011  880011 2800013  890011  900011  910011  920011  930011
  950011  960011  940011  970011  980011  990011 1000011 1010011 1020011
 1030011 1040011 2630013 1060011 1070011 1080011 2830013 1090011 1100011
 1110011 1120011 1130011 1140011 1160011 1170011 2010012 2040012 2050012
 2060012 2070012 2080012 2100012 2110012 2120012 2130012 2140012 2150012
 2160012 2170012 2180012 1180011 1190011 1210011 1220011 1230011 1240011
 1250011 1260011 1270011 2700013 1280011 1290011 1320011 1310011 1330011
 1340011 1350011 1360011 1370011 1380011 1390011 2690013 9020022 1400011
 1410011 1420011 1430011 2780013 1440011 3470015 1450011 1460011 1470011
 1480011 1510011 1520011 1530011 1550011 1560011 1540011 1570011 1580011
 1590011 1600011 1610011 1620011 1630011 1650011 1640011 1660011 1670011
 1690011 2910013 2960013 2310018]
['Achievement First Bridgeport Academy'
 'Achievement First Hartford Academy' 'Amistad Academy' ...
 'Medically Fragile Program' 'Natchaug Emotional Disturbance Program'
 'SISU Academy']
[2850113 2880113 2795113 ... 1610211 1630711 1650311]
[3 4 5 6 7 8]
['ELA' 'Math']
['2495' '2514' '2520' '2535' '2470' '2483' '2492' '2479' '2509' '2500'
 '2527' '2536' '2464' '2490' '2513' '2529' '2467' '2456' '2517' '2530'
 '2498' '2583' '2407' '2423' '2480' '2476' '2510' '2511' '2521' '2547'
 '2553' '2580' '2449' '2499' '2516' '2561' '2548' '2601' '2608' '2528'
 '2506' '2466' '2429' '2424' '2415' '2438' '2465' '2455' '2472' '2406'
 '2408' '2434' '2451' '2457' '2493' '*' '2368' '2348' '2433' '2381' '2505'
 '2534' '2550' '2540' '2405' '2393' '2416' '2482' '2440' '2562' '2478'
 '2532' '2593' '2566' '2624' '2626' '2647' '2668' '2488' '2526' '2563'
 '2582' '2463' '2538' '2477' '2569' '2539' '2564' '2570' '2576' '2598'
 '2443' '2494' '2503' '2525' '2468' '2519' '2459' '2442' '2524' '2551'
 '2518' '2497' '2508' '2543' '2587' '2453' '2460' '2554' '2590' '2571'
 '2469' '2473' '2549' '2489' '2515' '2552' '2474' '2382' '2399' '2452'
 '2444' '2446' '2448' '2507' '2577' '2613' '2612' '2599' '2588' '2485'
 '2559' '2533' '2531' '2441' '2462' '2491' '2435' '2410' '2430' '2345'
 '2363' '2357' '2375' '2413' '2419' '2417' '2432' '2373' '2385' '2392'
 '2411' '2418' '2390' '2431' '2426' '2523' '2545' '2350' '2388' '2486'
 '2458' '2352' '2360' '2367' '2377' '2391' '2335' '2330' '2359' '2365'
 '2389' '2396' '2409' '2379' '2421' '2450' '2428' '2412' '2425' '2447'
 '2522' '2544' '2496' '2327' '2314' '2404' '2439' '2403' '2427' '2333'
 '2414' '2445' '2326' '2322' '2370' '2420' '2395' '2394' '2422' '2436'
 '2484' '2481' '2487' '2386' '2366' '2364' '2398' '2387' '2557' '2512'
 '2347' '2378' '2454' '2318' '2341' '2384' '2397' '2361' '2504' '2556'
 '2555' '2558' '2324' '2339' '2356' '2376' '2401' '2342' '2351' '2471'
 '2310' '2331' '2349' '2362' '2502' '2537' '2501' '2574' '2402' '2565'
 '2575' '2586' '2623' '2541' '2602' '2568' '2461' '2546' '2573' '2597'
 '2614' '2621' '2542' '2567' '2560' '2475' '2437' '2572' '2578' '2625'
 '2617' '2605' '2591' '2603' '2627' '2622' '2592' '2589' '2611' '2579'
 '2594' '2629' '2596' '2585' '2634' '2632' '2641' '2652' '2670' '2581'
 '2336' '2374' '2372' '2343' '2584' '2615' '2618' '2607' '2630' '2610'
 '2631' '2650' '2633' '2619' '2642' '2604' '2606' '2609' '2600' '2595'
 '2645' '2646' '2665' '2620' '2383' '2649' '2371' '2358' '2332' '2328'
 '2400' '2380' '2344' '2340' '2355' '2369' '2297' '2628' '2654' '2637'
 '2325' '2638' '2687' '2616' '2636' '2639' '2653' '2287' '2312' '2337'
 '2354' '2353' '2635' '2282' '2346' '2671' '2334' '2323' '2656' '2667'
 '2663' '2304' '2338' '2329' '2640' '2682' '2659' '2685' '2644' '2643'
 '2655' '2276' '2292' '2657' '2686' '2311' '2283' '2302' '2321' '2315'
 '2313' '2679' '2660' '2658' '2319' '2651' '2696' '2674' '2648' '2307'
 '2299' '2316' '2298' '2684' '2666' '2317' '2308' '2289' '2320' '2683'
 '2296' '2309' '2300' '2301' '2285' '2275' '2269']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23190 entries, 0 to 5897
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           23190 non-null  object
 1   District       23190 non-null  object
 2   District Code  23190 non-null  int64
 3   School         23190 non-null  object
 4   School Code    23190 non-null  int64
 5   Grade          23190 non-null  int64
 6   Subject        23190 non-null  object
 7   Average VSS    23190 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.6+ MB

In [7]:
df_conn_fin.isnull().values.any()

False

In [8]:
### removing entries with no mean scale score
df_conn_fin_1 = df_conn_fin.query("`Average VSS` != '*'")

print(df_conn_fin.shape)
print(df_conn_fin_1.shape)                              

df_conn_fin_1["Average VSS"] = df_conn_fin_1["Average VSS"].astype(int)
df_conn_fin_1.info()

## around ~3100 entries removed with no average VSS

(23190, 8)
(20045, 8)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20045 entries, 0 to 5897
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           20045 non-null  object
 1   District       20045 non-null  object
 2   District Code  20045 non-null  int64
 3   School         20045 non-null  object
 4   School Code    20045 non-null  int64
 5   Grade          20045 non-null  int64
 6   Subject        20045 non-null  object
 7   Average VSS    20045 non-null  int32
dtypes: int32(1), int64(3), object(4)
memory usage: 1.3+ MB

C:\Users\ameen\AppData\Local\Temp\ipykernel_15692\3664629743.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_conn_fin_1["Average VSS"] = df_conn_fin_1["Average VSS"].astype(int)

In [9]:
### final table for connecticut data:
#### it contains for each year, for each school, for each grade, for each subject the mean scale scores

#df_conn_fin_1.to_csv('C:/Users/ameen/Desktop/Covid_learning_gap_ML_project_17_oct/datasets_processed/connecticut.csv')
df_conn_fin_1.head()

,year,District,District Code,School,School Code,Grade,Subject,Average VSS
0,2017,Achievement First Bridgeport Academy District,2850013,Achievement First Bridgeport Academy,2850113,3,ELA,2495
1,2017,Achievement First Bridgeport Academy District,2850013,Achievement First Bridgeport Academy,2850113,3,Math,2514
2,2017,Achievement First Bridgeport Academy District,2850013,Achievement First Bridgeport Academy,2850113,4,ELA,2520
3,2017,Achievement First Bridgeport Academy District,2850013,Achievement First Bridgeport Academy,2850113,4,Math,2535
4,2017,Achievement First Bridgeport Academy District,2850013,Achievement First Bridgeport Academy,2850113,5,ELA,2470

## District to School Mapping

In [10]:
df_dist_school_map = df_conn_fin_1[['School','District']]
df_dist_school_map['School'] = df_dist_school_map['School'].astype('str').str.lower()
df_dist_school_map['District'] = df_dist_school_map['District'].astype('str').str.lower()


print('shape of old mapping')
print(df_dist_school_map.shape)
print('\n')

df_dist_school_map = df_dist_school_map.drop_duplicates(subset = ['School','District'],keep = 'last',inplace=False, ignore_index=False) 
df_dist_school_map.columns = ['school','district']
df_dist_school_map['state'] = 'connecticut'

print('shape of new mapping')
print(df_dist_school_map.shape)
print('\n')

df_dist_school_map.to_csv('C:/Users/ameen/Desktop/Covid_learning_gap_ML_project_17_oct/datasets_processed/connecticut_school_dist_mapping.csv')

shape of old mapping
(20045, 2)


shape of new mapping
(827, 3)

C:\Users\ameen\AppData\Local\Temp\ipykernel_15692\905993055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dist_school_map['School'] = df_dist_school_map['School'].astype('str').str.lower()
C:\Users\ameen\AppData\Local\Temp\ipykernel_15692\905993055.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dist_school_map['District'] = df_dist_school_map['District'].astype('str').str.lower()